@font-face {
  font-family: "Rolan";
  src: url(../../fonts/Rolan-Regular.woff);
}
@font-face {
  font-family: "Rolan-Bold";
  src: url(../../fonts/Rolan-Bold.woff);
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body, html {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: "Rolan";
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

p {
  margin: 0;
}

button {
  outline: none;
  padding: 0;
  border: 1px solid transparent;
  background-color: transparent;
  cursor: pointer;
}

h1, h2, h3, h4 {
  margin: 0;
}

.container {
  width: 1240px;
  margin: 0 auto;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.button {
  color: white;
  font-size: 20px;
  width: 100%;
  background-color: #2091F9;
  border-radius: 35px;
  padding: 18px 0;
  -webkit-transition: 400ms;
  transition: 400ms;
}
.button:hover {
  background-color: #045fb4;
}

.pricing {
  background-color: rgb(37, 43, 66);
  padding: 100px 0;
  color: white;
  text-align: center;
}
.pricing_title {
  margin-bottom: 17px;
}
.pricing_text {
  display: inline-block;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: 0.2px;
  max-width: 530px;
  margin-bottom: 90px;
}
.pricing_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.pricing_item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: #FFFFFF;
  border: 1px solid #DEDEDE;
  -webkit-box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
  border-radius: 10px;
  color: black;
  padding: 40px;
  margin-right: 50px;
  max-width: 335px;
}
.pricing_item:last-child {
  margin-right: 0;
}
.pricing_item-title {
  font-size: 20px;
  font-family: "Rolan-Bold";
  text-transform: uppercase;
  margin-bottom: 3px;
}
.pricing_item-text {
  display: inline-block;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0.1px;
  color: #374754;
  max-width: 148px;
  margin-bottom: 30px;
}
.pricing_item-cost {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.pricing_item-cost-content {
  text-align: left;
  margin-left: 10px;
  margin-top: 15px;
}
.pricing_item-cost-value, .pricing_item-cost-currency {
  font-family: "Rolan-Bold";
  font-size: 74px;
  letter-spacing: 0.2px;
  color: #252B42;
}
.pricing_item-cost-currency {
  font-size: 20px;
}
.pricing_item-cost-info {
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0.1px;
  color: #374754;
}
.pricing_item-list {
  margin-bottom: 30px;
}
.pricing_item-list-name {
  font-size: 15px;
  line-height: 28px;
  letter-spacing: 0.2px;
  color: #252B42;
}
.pricing_item--mod {
  background: #2091F9;
  color: white;
  padding: 83px 40px;
}
.pricing_item--mod .pricing_item-text {
  color: inherit;
}
.pricing_item--mod .pricing_item-cost-value {
  color: inherit;
}
.pricing_item--mod .pricing_item-cost-currency, .pricing_item--mod .pricing_item-cost-info {
  color: inherit;
}
.pricing_item--mod .pricing_item-list-name {
  color: inherit;
}
.pricing_item--mod .pricing_item-button {
  background-color: white;
  color: #2091F9;
}

.title {
  font-size: 48px;
  line-height: 55px;
  font-weight: 400;
  letter-spacing: 0.2px;
  color: #252B42;
}
.title--white {
  color: white;
}

.reviews {
  margin: 110px 0 100px;
  text-align: center;
}
.reviews_title {
  margin-bottom: 90px;
}
.reviews_icon {
  margin-bottom: 50px;
}
.reviews_comment {
  font-size: 28px;
  line-height: 40px;
  letter-spacing: 0.2px;
  color: #374754;
  margin: 0 auto 60px;
  max-width: 967px;
}
.reviews_user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 80px;
}
.reviews_user-avatar {
  margin-right: 13px;
}
.reviews_user-doing, .reviews_user-position {
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0.1px;
  color: #374754;
}
.reviews_user-position {
  color: #252B42;
}
.reviews_user-info {
  text-align: left;
}
.reviews_button {
  max-width: 286px;
  font-weight: 700;
}

.avatar {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}
.avatar_picture {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.organize {
  padding: 284px 0;
}
.organize_info {
  max-width: 532px;
}
.organize_info-title {
  max-width: 335px;
  font-weight: 400;
  margin-bottom: 17px;
}
.organize_info-text {
  font-size: 30px;
  line-height: 40px;
  letter-spacing: 0.2px;
  color: #374754;
  margin-bottom: 70px;
}
.organize_info-button {
  max-width: 236px;
}

.subscribe {
  padding: 150px 0 52px;
}
.subscribe_picture {
  margin-right: 50px;
}
.subscribe_picture-img {
  max-width: 100%;
}
.subscribe_info {
  max-width: 544px;
  text-align: left;
  padding: 65px 0 0;
}
.subscribe_info-pretitle {
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.1px;
  color: #252B42;
  margin-bottom: 7px;
}
.subscribe_info-title {
  margin-bottom: 17px;
}
.subscribe_info_form-title {
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.1px;
  color: #252B42;
}
.subscribe_info_form-text {
  font-size: 17px;
  line-height: 25px;
  letter-spacing: 0.2px;
  color: #374754;
  margin-bottom: 36px;
}
.subscribe_info_form-input {
  padding: 19px 0 19px 39px;
  width: 273px;
  height: 54px;
  background-color: #F4F4F4;
  border: 1px solid #E8E8E8;
  border-radius: 39px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.1px;
  color: #18171D;
  margin-right: 12px;
}
.subscribe_info_form-input::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.1px;
  color: #18171D;
}
.subscribe_info_form-input::-moz-placeholder {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.1px;
  color: #18171D;
}
.subscribe_info_form-input:-ms-input-placeholder {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.1px;
  color: #18171D;
}
.subscribe_info_form-input::-ms-input-placeholder {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.1px;
  color: #18171D;
}
.subscribe_info_form-input::placeholder {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.1px;
  color: #18171D;
}
.subscribe_info_form-button {
  max-width: 172px;
  line-height: 20px;
}