.reviews{
    margin: 110px 0 100px;
    text-align: center;
    &_title{
        margin-bottom: 90px;
    }

    &_icon{
        margin-bottom: 50px;
    }

    &_comment{
        font-size: 28px;
        line-height: 40px;
        letter-spacing: 0.2px;
        color: #374754;
        margin: 0 auto 60px;
        max-width: 967px;
    }

    &_user{
        display: flex;
        justify-content: center;
        margin-bottom: 80px;


        &-avatar{
            margin-right: 13px;
        }


        &-doing, &-position{
            font-size: 16px;
            line-height: 23px;
            letter-spacing: 0.1px;
            color: #374754;
        }

        &-position{
            color: #252B42;
        }

        &-info{
            text-align: left;
        }
    }

    &_button{
        max-width: 286px;
        font-weight: 700;
    }
}