header{
    padding: 22px 0;
}

.container{
    max-width: 920px;
    margin: 0 auto;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.title{
    font-family: 'Chivo';
    font-size: 48px;
    line-height: 58px;
    text-align: center;
    color: #FFFFFF;
    position: relative;
    z-index: 2;
}

.aftertitle{
    font-family: 'Chivo';
    font-size: 20px;
    line-height: 31px;
    text-align: center;
    letter-spacing: 0.206928px;
    color: #FFFFFF;
    position: relative;
    z-index: 2;
    }

.header_logo{
    margin-right: -70px;
}

/* Может слегка дурацкий но способ применить и флекс каким он должен быть + идентично макету */

.header_list-li{
    display: inline-block;
}

.header_list-li>a{
    font-family: 'Century Gothic';
    font-size: 13px;
    line-height: 14px;
    color: #AAAAAA;
    text-decoration: none;
}

.header_list-li:first-of-type, .header_list-li:nth-of-type(2){
    margin-right: 59px;
}

.header_list-li:nth-of-type(3){
    margin-right: 41px;
}


.miniatures{
    padding: 252px 0;
    background: url(../img/miniatures/miniatures_background.png);
    background-repeat: no-repeat;
    background-position: center;
    margin: 87px auto 34px;
}

.miniatures_title{
    margin-bottom: 17px;
}

.textile{
    padding: 210px 0;
    background: url(../img/textile/textile_picture.png);
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
   
}

.textile_title{
    font-weight: 700;
    margin-bottom: 20px;
}


.collection{
    padding-top: 17px;
}

.collection_item_1-title, .collection_item_2-title{
    font-family: 'Chivo';
    font-size: 23px;
    line-height: 28px;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.collection_item_1{
    padding: 192px 139px;
    background: url(../img/collection/sand.png);
    background-repeat: no-repeat;
    background-position: center;
}

.collection_item_2{
    padding: 192px 110px;
    background: url(../img/collection/chanvre.png);
    background-repeat: no-repeat;
    background-position: center;
}


.collection_item_1-text, .collection_item_2-text{
    font-family: 'Chivo';
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.13px;
    color: #FFFFFF;
    text-align: center;
}



.exposition{
    padding: 34px 0 132px;
   
}

.exposition_item:first-of-type{
    padding: 122px 64px;
    background: url(../img/exposition/first.png);
    background-repeat: no-repeat;
    background-position: center;
}

.exposition_item:nth-of-type(2){
    padding: 122px 86px;
    background: url(../img/exposition/second.png);
    background-repeat: no-repeat;
    background-position: center;
}

.exposition_item:last-of-type{
    padding: 122px 63px;
    background: url(../img/exposition/third.png);
    background-repeat: no-repeat;
    background-position: center;
}


.exposition_item-firstext{
    position: relative;
    font-family: 'Chivo';
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
}

.exposition_item-secondtext{
    font-family: 'Chivo';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.13px;
    color: #FFFFFF;
}

footer{
    padding-bottom: 18px;
}

.footer_links{
   text-align: center;
   margin-bottom: 7px;
}

.footer_links > a >img{
    border-radius: 50%;
}

.footer_links > a >img:hover{
    background-color: #E31D3E;
}

.footer_links > a:not(:last-of-type){
    margin-right: 10px;
}

.footer_picture{
    text-align: center;
    margin-bottom: 15px;
}

.footer_text{
    font-family: 'Abel';
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.38px;
    color: #333333;
}

.special{
    background: url(../img/miniatures/miniatures_background.png);
    background-repeat: no-repeat;
    background-position: center;
}

.container-special{
    max-width: 920px;
    text-align: center;
    margin: 0 auto;
}