header{
    padding: 13px 0 27px;
}

.container{
    max-width: 1140px;
    margin: 0 auto;
}

.container_asidetext{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 34px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #DBDBDB;
    transform: rotate(-90deg);
    position: absolute;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_li{
    display: inline-block;
    margin-right: 40px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #6C6C6C;
}

.nav_li:hover{
    cursor: pointer;
}

.nav_li:hover:not(:last-of-type){
    color: #AC1313;
    transition: 300ms;
}

.nav_li:nth-of-type(4){
    margin-right: 19px;
}

.nav_li:last-of-type{
    margin-right: 0;
    border-left: 1px solid rgba(235, 235, 235, 1);
    padding: 10px 0 10px 35px ;
    font-size: 14px;
    letter-spacing: 0;
    text-transform: none;
    color: black;
    position: relative;
}

.nav_li:last-of-type::before{
    content: url('../img/header/cart.svg');
    position: absolute;
    left: 12px;
    top: 10px;
}


.main{
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 192px 0 211px;
    position: relative;
}

.main_img{
    position: absolute;
    top: 100px;
    right: 30px;
    max-width: 100%;
}

.container_title{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    text-align: start;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #D77474;
    margin-bottom: 12px;
}

.main_info-title{
    max-width: 432px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    color: #000000;
    margin-bottom: 14px;
    position: relative;
}

.main_info-title::after{
    position: absolute;
    content: url('../img/after_symbol.svg');
    top: -10px;
    right: -45px;

}

.main_info-text{
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #6C6C6C;
    margin-bottom: 51px;
}


.button{
    background-color: #AC1313;
    border: none;
    width: 201px;
    height: 62px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.product{
    padding: 120px 0;
    position: relative;
}

.container_title-product, .container_title-collection, .collection_title {
    text-align: center;
}

.product_title, .collection_title{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
}

.product_asidetext{
    left: -34px;
    top: 50%;
}

.about_img-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.flex_product_img{
    display: flex;
    justify-content: center;
}

.about_img{
    margin: 63px 0 87px;
}

.product_about-img:not(:last-of-type){
    margin-right: 151px;
}

.product_about-title{
    display: inline-block;
    max-width: 280px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 29px;
    line-height: 36px;
    margin-bottom: 26px;
    color: #000000;
}

.product_about-title:last-of-type{
    max-width: 323px;
    margin-bottom: 23px;
}

.product_about-text{
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #6C6C6C;
    max-width: 501px;
}

.product_about-text:not(:last-of-type){
    margin-right: 135px;
}


.feature{
    padding: 77px 0 85px;
    position: relative;
}

.feature_about{
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.feature_about-text, .feature_about-secondtext{
    max-width: 396px;
}

.feature_about-secondtext{
    margin-right: 250px;
}


.feature_text-title{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 34px;
    margin-bottom: 23px;
}

.feature_text-text{
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #6C6C6C;
    margin-bottom: 27px;
}

.feature_text-aftertext{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
}

.feature_img{
    position: relative;
    max-width: 100%;
}

.feature_about-orangeimg{
    position: relative;
    right: 65px;
}

.feature_about-img{
    position: relative;
}

.feature_about-img::before{
    content: '';
    position: absolute;
    width: 500px;
    height: 220px;
    left: -100px;
    top: 154px;
    background-color: #F5F5F5;
}

.feature_about-orangeimg::before{
    content: '';
    position: absolute;
    width: 500px;
    height: 220px;
    left: -70px;
    top: 100px;
    background-color: #F5F5F5;
}

.feature_asidetext{
    right: -15px;
    top: 50%;
}

.collection{
    padding: 120px 0;
    position: relative;
}

.container_title-collection{
    margin-bottom: 17px;
}

.collection_text{
    margin-bottom: 63px;
}

.collection_asidetext{
    left: -34px;
    top: 50%;
}

.collection_grid_items{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.collection_grid-item{
    max-width: 371px;
}

.collection_item-title{
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #6C6C6C;
    margin: 20px 0 5px 0;
}

.collection_item_value{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    padding-bottom: 15px;
    margin-bottom: 21px;
    border-bottom: 1px solid #DBDBDB;
}

.collection_button{
    display: block;
    margin: 40px auto 0;
}
